extends layout

block content
  script(src="javascripts/dashboard.js")
  script(src="javascripts/vk_auth.js")
  a(href="http://37.230.112.90/logout") Logout
  p user: #{user}
  form(method="POST", action="/webapi")
    input(type="hidden", name="action", value="addService")
    input(type="input", name="account")
    select(name="service")
      option(value="twitter") Twitter
    input(type="submit", value="Submit")
  a(href="http://oauth.vk.com/authorize?client_id=3126840&scope=notify,friends,photos,audio,video,status,wall,groups,notifications,offline&display=popup&response_type=code&tt=12&redirect_uri=http://rootools.ru/") VK add
  a(href="/add_service/vk") VK add
  hr
  center
    div(id="dashboard")
      div(id="dashboard_menu")
        .dashboard_menu_button= "main"
        each item in achivList
          .dashboard_menu_button= item.service
      div(id="dashboard_list")
