extends layout

block content
  script(src="javascripts/dashboard.js")
  a(href="http://37.230.112.90/logout") Logout
  p user: #{user}
  form(method="POST", action="/webapi")
    input(type="hidden", name="action", value="addService")
    input(type="input", name="account")
    select(name="service")
      option(value="twitter") Twitter
    input(type="submit", value="Submit")
  hr
  center
    div(id="dashboard")
      div(id="dashboard_menu")
        .dashboard_menu_button= "main"
        each item in achivList
          .dashboard_menu_button= item.service
      div(id="dashboard_list")
