extends layout

block content
  div(class="grid")
    div(class="row")
      h3="User INFO"
    div(class="row")
      button(class="bg-color-green", id="services_list")="Services"
      button(class="bg-color-green", id="friends_list")="Friends"
