.dashboard_back {
  font-size: 38px;
  margin-right: 28px;
}

#service_left, #service_right {
  position: relative;
  float: left;
}

#service_right {
  margin-top: -10px;
}

.social_sharing {
  position: relative;
  float: right;
  margin-top: 3px;
  margin-right: 40px;
}