.dashboard_back {
  font-size: 38px;
  margin-right: 28px;
}

#service_left, #service_right {
  position: relative;
  float: left;
}

#service_right {
  margin-top: -10px;
  margin-left: 15px;
}

.social_sharing {
  position: relative;
  float: right;
  margin-top: 3px;
  margin-right: 40px;
}

.service_tile .brand > .badge {
  margin-right: 10px;
}

.user_info_left {
  position: relative;
  float: left;
}

.user_info_right {
  height: 100%;
  margin-left: 12px;
  margin-top: -14px;
  position: relative;
  float: left;
}

.service_tile_disable {
  /*filter: url(filters.svg#grayscale);
  filter: gray;
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%);*/
  -webkit-filter: grayscale(1);
  opacity: 0.5;
}

.dashboard_name_menu_icon {
  margin-left: -3px;
  cursor: pointer;
  position: relative;
}
