.app_button, .menu_button {
	width: 315px;
}

.td_achiv_table {
  border: none;
  border-bottom: 1px solid #DDD;
}

.td_achiv_table_edit {
  border-left: 1px solid #DDD;
  font-size: 20px;
  cursor: pointer;
}

#achiv_list_edit {
  border-left: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 15px;
}

#edit_achiv_icon {
  cursor: pointer;
  width: 165px;
  height: 32px;
  position: relative;
  text-align: right;
  margin-left: -179px;
  top: -6px;
  -moz-opacity:0 ;
  filter: alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}