body {
  font-family: "DejaVu Sans Mono", monospace;
  background-color: #fff;
}

div.page {
  margin: auto;
  width: 984px;
}

.centered {
  text-align: center;
}

.uppercase_first:first-letter {
  text-transform: uppercase;
}

/*
Menu bar block
*/

i {
  margin-right: 5px;
}

div#dashboard {
  width: 800px;
}

div#dashboard_menu, div#dashboard_list {
  position: relative;
  float: left;
}

div#dashboard_menu {
  width: 150px;
}

div#dashboard_list {
  width: 600px;
}

div.dashboard_menu_button {
  cursor: pointer;
  background-color: #00B4CC;
  padding: 10px;
}

div.dashboard_menu_button:hover {
  background-color: #008C9E;
}

/* Achievement Badg style */

div.achievementBadg {
  cursor: pointer;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

div.achievementIcon {
  width: 64px;
  height: 64px;
  background-image: url(../images/ico.png);
}

div.achievementIcon, div.achievementInfoZone {
  position: relative;
  float: left;
}

div.achievementPointZone {
  position: relative;
  float: right;
  width: 70px;
}

div.achievementInfoZone {
  width: 400px;
}

div.earned_false {
  opacity: 0.5;
}

tr.table_earned_false {
  opacity: 0.5;
}

td.td_achiv_table {
  border-right: none;
}

div#error_show {
  text-align: center;
}

.social_button_group {
  margin-right: 10px;
}