body {
  font-family: "DejaVu Sans Mono", monospace;
}

div.page {
  margin: auto;
  width: 984px;
}

div#loginForm {
  width: 300px;
}

input.loginForm {
  width: 100%;
}

input#loginFormSubmitButton {
  margin-top: 10px;
  width: 150px;
  height: 40px;
}

div#dashboard {
  width: 800px;
}

div#dashboard_menu, div#dashboard_list {
  position: relative;
  float: left;
}

div#dashboard_menu {
  width: 150px;
}

div#dashboard_list {
  width: 600px;
}

div.dashboard_menu_button {
  cursor: pointer;
  background-color: #00B4CC;
  padding: 10px;
}

div.dashboard_menu_button:hover {
  background-color: #008C9E;
}

/* Achievement Badg style */

div.achievementBadg {
  cursor: pointer;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

div.achievementIcon {
  width: 64px;
  height: 64px;
  background-image: url(../images/ico.png);
}

div.achievementIcon, div.achievementInfoZone {
  position: relative;
  float: left;
}

div.achievementPointZone {
  position: relative;
  float: right;
  width: 70px;
}

div.achievementInfoZone {
  width: 400px;
}

div.earned_false {
  opacity: 0.5;
}
